.container-section {
    display: flex;
    justify-content: space-between;
    margin: 0 4.1rem 0 7rem;  
}

.container-section .cashback img {
    margin: 6rem 0 -2.4rem 0;
}

.container-section .cashback h1 {
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 4.37rem;
    letter-spacing: -0.15rem;
}

.container-section .title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.06rem;
    font-weight: 600;
    margin-top: -2rem;

    color: #01B6A6;
}

.container-section .cashback p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.02rem;
    color: #494F4E;
    font-weight: 500;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.container-section .cashback .button {
    display: flex;
    justify-content: center;

    background: linear-gradient(24.68deg, #019F92 -50.25%, #00CEBC 183.87%), rgba(245, 245, 245, 0.0001);
    border-radius: 0.3rem;
    width: 20rem;
    height: 5rem;
    margin-top: 2rem;
    color: #fff;
}

.container-section .cashback .button a {
    text-decoration: none;
    font-size: 1rem;
    width: 9.8rem;
    line-height: 3rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #fff;
}

.container-section .store img{
    margin: 2rem 2rem 0 0;
}

.container-section .cashback-simulation h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.62rem;
    letter-spacing: -0.08rem;
    margin-top: 6.5rem;
}

.container-section .cashback-simulation p {
    font-weight: 500;
    font-size: 1.12rem;
    line-height: 1.68rem;
    letter-spacing: -0.045rem;
    color: #202323;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.container-section .cashback-simulation h1 {
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 3.25rem;
    letter-spacing: -0.11rem;
    color: #02B09F;
    margin-bottom: 0    ;
}


.cashback-img {
    margin-right: 3rem;
}

.calc-simulation {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.calc-simulation div {
    border-radius: 0.57rem;
    box-shadow: 0 0.129rem 0.3rem #202323;

}

.calc-simulation p.title {
    background: #02B09F;
    color: #fff;
    font-size: 0.87rem;
    font-weight: 600;
    width: 6rem;
    height: 2.2rem;
    text-align: center;
    border-top-right-radius: 0.57rem;
    border-top-left-radius: 0.57rem;
    margin: 0;
    padding-top: 1rem;
}

.calc-simulation .resgate-ano {
    background: #02B09F;
    border-radius: 0.57rem;
}

.calc-simulation .resgate-ano p.titles {
    color: #fff;
    font-weight: 600;
    font-size: 0.87rem;
    font-weight: 600;
    width: 6rem;
    height: 2.5rem;
}

.calc-simulation .resgate-ano p {
    color: #fff;
    font-weight: bold;
}

@media(max-width: 1200px) {
    .container-section {
        display: grid;
        grid-template-columns: 330px 250px;
    }

    .cashback-img {
        margin-left: -3rem;
    }

    .cashback-simulation {
        margin: -10rem 0 7rem 15rem;
        width: 38rem;
        text-align: center;
    }
    
    .cashback-simulation span.MuiSlider-root {
        width: 177%;
    }
}

@media(max-width: 1000px) {
    .cashback-simulation {
        margin: -10rem 0 7rem 6rem;
    }
}

@media(max-width: 850px) {
    .container-section {
        display: grid;
        grid-template-columns: 330px;
        margin-left: 6rem;
    }

    .cashback-simulation {
        margin: -10rem 0 7rem 0;
    }

    .cashback {
        width: 33rem;
        text-align: center;
        margin-left: 2rem;
    }

    .cashback .button {
        margin-left: 7rem;
    }

    .cashback .store {
        margin-left: 3rem;
    }

    .cashback-img {
        margin-left: 7rem;
        margin-top: 2rem;
    }
}

@media(max-width: 695px) {
    .cashback {
        margin-left: 0;
    }

    .cashback-img {
        margin-left: 5rem;
    }

    .cashback-simulation {
        width: 31rem;
    }

    .cashback-simulation span.MuiSlider-root {
        width: 143%;
    }
}

@media(max-width: 492px) {
    .container-section {
        margin-left: 3rem;
    }

    .cashback {
        width: inherit;
        text-align: inherit;
    }

    .cashback .button {
        margin-left: 0;
    }

    .cashback .store {
        margin-left: 0;
    }

    .cashback-img {
        margin-left: -1.5rem;
    }

    .cashback-simulation {
        width: inherit;
        text-align: inherit;
    }

    .cashback-simulation span.MuiSlider-root {
        width: 95%;
    }
}