  .page-header .top-bar-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-header .top-bar-container p {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .page-header .top-bar-container a {
    text-decoration: none;
  }
  
  .about-header,
  .cartao-header,
  .cashback-header,
  .tag-header,
  .button-header {
    margin-bottom: 3rem;
  }
  
  .about-header p:hover,
  .cartao-header p:hover,
  .cashback-header p:hover,
  .tag-header p:hover { 
    color: #d5f3f0;
    border-bottom: 0.19rem ridge #fff;
    transition: .1s;
  }

  .button-header a:hover {
    background: #d5d5d562;
    transition: .1s;
  }

  .button-header {
    display: flex;
    justify-content: center;
  }
  
  .button-header a {
    border: 2px solid #fff;
    border-radius: 0.8rem;
    width: 12rem;
    line-height: 3rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #fff;
  }
  
  .button-header a img {
    width: 1.2rem;
    margin-right: 0.6rem;
  }

  .login {
    margin-left: -3rem!important;
    background-color: #000;
    border-radius: 1rem;
  }

  .login:hover {
    background-color: #fff;
  }

  .login a:hover {
    color: #01C2B0;
  }
  
  .login a img { 
    width: 1.7rem!important;
    margin-right: 0.6rem;
    margin-left: -1rem;
  }

  .button-mobile {
    margin-top: -2rem;
  }

  @media (max-width: 1210px) {
    .login {
      margin-left: 1.5rem!important;
    }
  }
  
  @media (max-width: 1024px) {

    .about-header,
    .cartao-header,
    .cashback-header,
    .tag-header,
    .button-header {
      display: none;
    }
  }

  @media (max-width: 450px) {
    .logo-header {
      margin-left: -2rem;
    }
  }

  @media (max-width: 320px) {
    .logo-header {
      margin-left: 0rem;
    }
  }