.page-header {
    display: flex;
    flex-direction: column;
  }
  
  .page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-header .top-bar-container p {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .page-header .top-bar-container a {
    text-decoration: none;
  }
  
  .about-header,
  .cartao-header,
  .cashback-header,
  .tag-header,
  .button-header {
    margin-bottom: 3rem;
  }
  
  .button-header {
    display: flex;
    justify-content: center;
  }
  
  .button-header a {
    border: 2px solid #fff;
    border-radius: 0.8rem;
    width: 12rem;
    line-height: 3rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #fff;
  }
  
  .button-header a img {
    width: 1.2rem;
    margin-right: 0.6rem;
  }
  
  .menu-button {
    display: none;
  }
  
  @media (max-width: 1100px) {

    .about-header,
    .cartao-header,
    .cashback-header,
    .tag-header,
    .button-header {
      display: none;
    }
  
    #menu-mobile {
      display: block;
      background: #01C2B0;
      text-decoration: none;
      border: none;
      margin-bottom: 3rem;
    }
  }

  @media (max-width: 450px) {
    .logo-header {
      margin-left: -2rem;
    }
  }