.OurStory {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 5rem;
    padding: 0 4.1rem 0 4.2rem;
}

.OurStory .text-story h1{
    margin: 0 5rem 2rem 27.5rem;
    font-size: 3.2rem;
    color: #29292b;
}

.OurStory .text-story h1 span {
    color: #00bab3;
}

.OurStory h2.years {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    color: #00bab3;
}

.Story {
    margin-bottom: 10rem;
}

.sliderStory {
    width: 100%;
    height: 15rem;
    background-color: #f0f2f5;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.slider-story div {
    height: 20rem;
}

.rec-carousel {
    position: relative;
}

.rec-arrow {
    position: absolute;
    top: 0;
    z-index: 99;
}

.rec-arrow-left {
    left: 10rem;
}

.rec-arrow-right {
    left: 14rem;
}

.rec-item-wrapper {
    height: 20rem;
}

.sliderStory h2 {
    position: absolute;
    top: 0rem;
    font-size: 3.2rem;
    margin-bottom: 1rem;
    color: rgb(0, 186, 179);
}

.sliderStory span {
    font-weight: 900;
    color: #00bab3;
    font-size: 18px;
}

.sliderStory p {
    color: #29292b;
    font-size: 0.9rem;
    margin: 1rem 2rem 0 2rem;
}

@media (max-width: 1174px) {

    .OurStory .text-story h1 {
        margin: 0 5rem 2rem 22.5rem;
    }

    .rec-item-wrapper {
        height: 21rem;
    }

    .sliderStory {
        height: 16rem;
        margin-bottom: 8rem;
    }
}

@media (max-width: 1100px) {

    .OurStory .text-story h1 {
        margin: 0 5rem 2rem 19.5rem;
    }
}

@media (max-width: 1061px) {
    .rec-item-wrapper {
        height: 22rem;
    }

    .sliderStory {
        height: 17rem;
        margin-bottom: 8rem;
    }
}

@media (max-width: 1005px) {
    .rec-item-wrapper {
        height: 24rem;
    }

    .sliderStory {
        height: 19rem;
        margin-bottom: 8rem;
    }
}

@media (max-width: 942px) {
    .OurStory .text-story h1 {
        margin: 0 0 2rem 11.5rem;
    }
}

@media (max-width: 709px) {
    .OurStory .text-story h1 {
        margin: 0 0 2rem 7.5rem;
    }

    .rec-item-wrapper {
        height: 26rem;
    }

    .sliderStory {
        height: 21rem;
        margin-bottom: 8rem;
    }
}

@media (max-width: 623px) {

    .rec-item-wrapper {
        height: 29rem;
    }

    .sliderStory {
        height: 24rem;
        margin-bottom: 8rem;
    }
}

@media (max-width: 623px) {

    .rec-item-wrapper {
        height: 31rem;
    }

    .sliderStory {
        height: 26rem;
        margin-bottom: 8rem;
    }
}

@media (max-width: 623px) {

    .rec-item-wrapper {
        height: 33rem;
    }

    .sliderStory {
        height: 28rem;
        margin-bottom: 8rem;
    }
}

@media (max-width: 425px) {
    .OurStory .text-story h1 {
        margin: 0 0rem 2rem -2.5rem;
    }
}

@media (max-width: 375px) {
    .OurStory .text-story h1 {
        margin: 0 0rem 2rem 1.5rem;
    }
}