.products {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #f0f2f5;
}

.slider-products div {
    position: relative;
    display: flex;
    height: auto;
    margin: 10rem 4.1rem 5rem 4.1rem;
    background: #fff;
    border-radius: 1rem;
}

.slider-products div.first {
    margin-top: -14rem;
}

.slider-products div.first img{
    max-width: 100%;
    width: 33%;
    height: auto;   
    margin-top: -3rem;
    margin-left: 1.5rem;
}

.slider-products div.first h2,
.slider-products .fifth h2,
.slider-products .seven h2,
.slider-products .ninth h2,
.slider-products .eleventh h2 {
    position: absolute;
    right: 0.5rem;
    top: -2rem;
    color: #232432;
}

.slider-products .text-first,
.slider-products .text-fifth,
.slider-products .text-seven,
.slider-products .text-ninth,
.slider-products .text-tenth,
.slider-products .text-eleventh {
    flex-direction: column;
    margin-top: 8rem;
}

.slider-products .text-first h1,
.slider-products .text-second h1,
.slider-products .text-third h1,
.slider-products .text-fourth h1,
.slider-products .text-fifth h1,
.slider-products .text-sixth h1,
.slider-products .text-seven h1,
.slider-products .text-eighth h1,
.slider-products .text-ninth h1,
.slider-products .text-tenth h1,
.slider-products .text-eleventh h1 {
    font-size: 3rem;
}

.slider-products .text-first h1 span,
.slider-products .text-second h1 span,
.slider-products .text-third h1 span,
.slider-products .text-fourth h1 span,
.slider-products .text-fourth p span.ex,
.slider-products .text-fifth h1 span,
.slider-products .text-sixth h1 span,
.slider-products .text-seven h1 span,
.slider-products .text-eighth h1 span,
.slider-products .text-ninth h1 span,
.slider-products .text-tenth h1 span,
.slider-products .text-eleventh h1 span {
    color: #00bab3;
}

.slider-products .text-first p {
    font-size: 1.11rem;
    margin-top: 1.5rem;
    margin-right: 10rem;
    line-height: 1.8rem;
}

.store-text img {
    margin-top: 5rem;
    margin-left: -1.4rem;
}

.slider-products .second h2,
.slider-products .fourth-place h2,
.slider-products .sixth-place h2,
.slider-products .eighth h2,
.slider-products .tenth h2 {
    margin-top: -2rem;
    color: #232432;
}

.slider-products .text-second p,
.slider-products .fourth-place p,
.slider-products .text-fifth p,
.slider-products .text-sixth p,
.slider-products .text-seven p,
.slider-products .text-eighth p,
.slider-products .text-ninth p,
.slider-products .text-tenth p,
.slider-products .text-eleventh p {
    font-size: 1.11rem;
    margin-top: 1.5rem;
    line-height: 1.8rem;
}

.slider-products .second img,
.slider-products .fourth-place img,
.slider-products .sixth-place img,
.slider-products .eighth img,
.slider-products .tenth img{
    max-width: 100%;
    width: 41%;
    height: auto;
    margin-right: -1.2rem;
}

.second .text-second,
.fourth-place .text-fourth,
.sixth-place .text-sixth,
.eighth .text-eighth,
.tenth .text-tenth {
    flex-direction: column;
    margin-top: 6rem;
    margin-left: -5rem;
}

.second {
    margin-bottom: 0;
    margin-left: -1rem;
}

.text-second img,
.text-fourth img,
.text-sixth img,
.text-eighth img,
.text-ninth img,
.text-tenth img,
.text-eleventh img {
    width: 5%!important;
    margin-right: 1rem!important;
}

.text-second p.bl {
    font-weight: 900;
}

.text-second span.tx,
.text-fourth span.tx,
.text-fifth span.tx,
.text-sixth span.tx,
.text-eighth span.tx,
.text-ninth span.tx,
.text-tenth span.tx,
.text-eleventh span.tx {
    margin-left: 3rem;
    color: #90949a;
    font-size: 1rem;
    font-weight: 400;
}

.text-second span.tx strong {
    color: #00bab3;
}

.text-second h3 {
    margin-top: 1.6rem;
    font-weight: 400;
}

.text-second h3 strong {
    color: #00bab3;
}

.third h2 {
    position: absolute;
    right: 0.5rem;
    top: -1.5rem;
    color: #232432;
}

.third img,
.ninth img,
.eleventh img {
    max-width: 100%;
    width: 50%;
    margin-top: -2em;
}

.text-third {
    flex-direction: column;
    margin-left: 0!important;
}

div.text-third h1 {
    margin-top: -6rem;
}

.text-third p {
    font-size: 1rem;
    margin-top: 1rem;
}

.text-third .makeStyles-root-1 {
    margin-left: -6rem!important;
    margin-right: 0!important;
    margin-top: 3rem!important;
    width: 42rem!important;
}

.cashback-products {
    flex-direction: column;
    margin: 0!important;
}

.cashback-products .l1 {
    margin-top: -15rem!important;
}

.cashback-products .l1,
.cashback-products .l2 {
    margin: 0;
}

.cashback-products .monthly-invoice,
.cashback-products .cashback-porc,
.cashback-products .monthly-cashback,
.cashback-products .annual-cashback {
    width: 13.43rem;
    height: 5.37rem;
    background-color: #f0f2f5;
    flex-direction: column;
    text-align: center;
}

.cashback-products .monthly-invoice,
.cashback-products .cashback-porc {
    margin: 0 0 1.5rem 0;
}

.cashback-products .monthly-cashback,
.cashback-products .annual-cashback {
    margin: 0 0.5rem 0 0;
}

.cashback-products .monthly-invoice h2,
.cashback-products .cashback-porc h2,
.cashback-products .monthly-cashback h2,
.cashback-products .annual-cashback h2 {
    position: static;
    margin-top: 1rem;
    font-size: 1.75rem;
}

.cashback-products .monthly-invoice h2 {
    color: #29292b;
}

.cashback-products .cashback-porc h2,
.cashback-products .monthly-cashback h2 {
    color: #a3abb7;
}

.cashback-products .annual-cashback h2.blue {
    color: #00bab3;
}

.cashback-products .l1 .b2 {
    margin-left: 1.4rem;
}

.cashback-products .b2 {
    margin-left: 1rem;
}

.cashback-products .monthly-invoice h4,
.cashback-products .cashback-porc h4,
.cashback-products .monthly-cashback h4,
.cashback-products .annual-cashback h4 {
    font-weight: 600;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #29292b;
}

.slider-products .fourth-place img,
.slider-products .sixth-place img {
    margin-top: -5.1rem;
    margin-right: -4rem;
}

.slider-products .text-fourth p span.ex {
    font-weight: 900;
}

.text-fourth span.tx,
.text-sixth span.tx,
.text-eighth span.tx,
.text-ninth span.tx,
.text-tenth span.tx,
.text-eleventh span.tx  {
    margin-left: 0!important;
}

.text-fifth span.tx{
    margin-left: 1rem!important;
}

.slider-products .fifth img {
    margin-top: -5rem;
}

.text-sixth .bl img {
    margin-left: 0!important;
}

.slider-products .sixth-place img {
    margin-left: 11rem; 
}

.seven div {
    margin: 0;
}

.seven .text-seven {
    margin-left: -36rem;
    margin-top: 7rem;
}

.seven .cfKeGQ {
    position: absolute!important;
    top: 4.5rem!important;
    left: 6.3rem!important;
}

.text-seven a,
.text-ninth a {
    position: relative;
    text-decoration: none;
    color: #fff ;
    background-color: #00bab3;
    font-weight: 600;
    padding: 1.2rem 5.5rem 1.2rem 5.4rem;
    border-radius: 1rem;
    margin: 2rem 14rem 7rem 0rem;
}

.text-seven a:hover,
.text-ninth a:hover {
    border: 1px solid #00bab3;
    background-color: #37ddd8;
    transition: all .2s;
}

.text-seven img.nextWhite,
.text-ninth img.nextWhite {
    top: 0.9rem;
    left: 10.5rem;
    position: absolute;
}

.text-ninth img.nextWhite {
    top: 3.1rem;
    left: 10.5rem;
}

.slider-products .rec-pagination {
    position: absolute;
    top: 25.3rem;
    left: 18rem;
}

.slider-products .rec-item-wrapper {
    height: 20rem;
}

.slider-products .rec-slider-container,
.slider-products .rec-carousel {
    position: absolute;
    flex-direction: column;
    top: 0rem;
    left: -3rem;
    width: 33rem;
}

.slider-products .rec-arrow {
    top: 22.5rem;
}

.slider-products .eighth img {
    margin-top: -9rem;
}

.slider-products .eighth p {
    font-weight: 900;
}

.slider-products .eighth p span.obs {
    color: #00bab3;
}

.slider-products .ninth img {
    margin-top: -9rem;
}

.slider-products .text-tenth {
    margin-left: 0!important;
}

.slider-products .tenth img.band {
    margin-top: 5rem;
    margin-right: 1rem;
    height: 100%;
}

.eleventh img {
    margin-top: -7em;
}

@media (max-width: 1024px) {
    .slider-products .first,
    .slider-products .second,
    .slider-products .third,
    .slider-products .fourth-place,
    .slider-products .fifth,
    .slider-products .sixth-place,
    .slider-products .eighth,
    .slider-products .ninth,
    .slider-products .tenth,
    .slider-products .eleventh {
        flex-direction: column;
        align-items: center;
    }

    .slider-products .text-first p {
        margin-right: 0;
    }

    .slider-products .text-second,
    .slider-products .text-fourth,
    .slider-products .text-sixth,
    .slider-products .text-eighth,
    .slider-products .text-ninth,
    .slider-products .text-tenth,
    .slider-products .text-eleventh{
        margin-left: 0.5rem;
    }

    .slider-products .seven {
        flex-direction: column;
    }

    .slider-products .seven .rec-carousel-wrapper {
        position: absolute;
    }

    .slider-products .seven .text-seven {
        margin-left: 0.5rem;
        margin-top: 32rem;
    }

    .slider-products .text-seven a {
        margin: 2rem 32rem 7rem 0rem;
    }

    .slider-products .eighth img,
    .slider-products .ninth img {
        margin-top: -3rem;
    }

    .slider-products .tenth img.band {
        margin-top: 0;
    }
}

@media (max-width: 890px) {
    .slider-products .text-third {
        margin-left: auto!important;
        margin-right: auto!important;
    }

    .slider-products .text-third .makeStyles-root-1 {
        margin-left: 0rem!important;
        margin-right: 0!important;
        margin-top: 3rem!important;
        width: 29rem!important;
    }

    .slider-products .text-seven a {
        margin: 2rem 32rem 7rem 0rem;
    }
}

@media (max-width: 850px) {
    .slider-products .text-seven a {
        margin: 2rem 20rem 7rem 0rem; 
    }
}

@media (max-width: 655px) {
    .slider-products .text-seven a {
        margin: 2rem 10rem 7rem 0rem; 
    }
}

@media (max-width: 492px) {
    .slider-products .text-seven a {
        margin: 2rem 5rem 7rem 0rem; 
    }
}