.products {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #f0f2f5;
}

.slider-products div {
    position: relative;
    display: flex;
    height: auto;
    margin: 0 4.1rem 5rem 4.1rem;
    background: #fff;
    border-radius: 1rem;
}

.slider-products div.first {
    margin-top: -14rem;
}

.slider-products div.first img {
    max-width: 100%;
    width: 33%;
    height: auto;   
    margin-top: -3rem;
}

.slider-products div.first h2 {
    position: absolute;
    right: 0.5rem;
    top: -2rem;
    color: #232432;
}

.slider-products .text-first {
    flex-direction: column;
}