.container-about {
    background-color: #f0f2f5;
}

.about {
    display: flex;
    margin: 0 2.5rem 0 5rem;
    padding: 9rem 0 12rem 0;
}

.banner-about {
    display: flex;
}

.banner-about img {
    max-width: 100%;
    height: auto;
}

.banner-about,
.text-about {
    background-color: #fff;
}


.text-about {
    padding: 5rem 3.4rem 5rem 3.5rem;
}

.text-about h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
}

.text-about h1 span {
    color: #00bab3;
}

.text-flex {
    display: flex;
    align-self: start;
    margin-top: 1rem;
    font-size: 1rem;
}

.end {
    margin-bottom: 5rem;
}

.text-flex img {
    margin-right: 1rem;
}

.text-about a {
    position: relative;
    text-decoration: none;
    color: #fff ;
    background-color: #00bab3;
    font-weight: 600;
    padding: 1.5rem 6.5rem 1.5rem 5.8rem;
    border-radius: 1rem;
}

.text-about a:hover {
    border: 1px solid #00bab3;
    background-color: #37ddd8;
    transition: all .2s;
}

.text-about img.nextWhite {
    position: absolute;
    top: 1.37rem;
    right: 4.4rem;
}

@media (max-width: 1110px) {
    .text-about a {
        padding: 1.5rem 6rem 1.5rem 3.5rem;
    }

    .about {
        flex-direction: column;
        margin: 0 12.2rem 0 13rem;
    }
}

@media (max-width: 850px) {
    .about {
        margin: 0px 7.2rem 0 7rem;
    }
}