.app-container {
    background: url('../../assets/images/fullbanner.svg');
    width: 100%;
    max-width: 1440px;
    height: 55rem;
    margin: 0 auto;
}

.container {
  margin-top: -1rem;
}

@media (max-width: 1100px) {
    .app-container {
        height: 80rem;
    }
}

@media (max-width: 695px) {
    .app-container {
        height: 85rem;
    }
}

  .page-header .top-bar-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-header .top-bar-container p {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .page-header .top-bar-container a {
    text-decoration: none;
  }
  
  .about-header,
  .cartao-header,
  .cashback-header,
  .tag-header,
  .button-header {
    margin-bottom: 3rem;
  }
  
  .about-header p:hover,
  .cartao-header p:hover,
  .cashback-header p:hover,
  .tag-header p:hover { 
    color: #d5f3f0;
    border-bottom: 0.19rem ridge #fff;
    transition: .1s;
  }

  .button-header a:hover {
    background: #d5d5d562;
    transition: .1s;
  }

  .button-header {
    display: flex;
    justify-content: center;
  }
  
  .button-header a {
    border: 2px solid #fff;
    border-radius: 0.8rem;
    width: 12rem;
    line-height: 3rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #fff;
  }
  
  .button-header a img {
    width: 1.2rem;
    margin-right: 0.6rem;
  }
  
  .menu-button {
    display: none;
  }
  
  @media (max-width: 1024px) {

    .about-header,
    .cartao-header,
    .cashback-header,
    .tag-header,
    .button-header {
      display: none;
    }
  
    #menu-mobile {
      display: block;
      background: #01C2B0;
      text-decoration: none;
      border: none;
      margin-bottom: 3rem;
    }
  }

  @media (max-width: 450px) {
    .logo-header {
      margin-left: -2rem;
    }
  }

  @media (max-width: 320px) {
    .app-container {
      width: 100%;
    }
  }